<ul>
  <li><%= link_to "New Game" %></li>
  <li><%= link_to "My Games" %></li>
  <li><%= link_to "Leaderboard" %></li>
  <li><%= link_to "My Profile" %></li>
  <li><%= link_to "Logout", logout_path %></li>
</ul>