<ul>
  <li><%= link_to "New Game" %></li>
  <li><%= link_to "My Games" %></li>
  <li><%= link_to "Leaderboard", leaderboard_show_path %></li>
  <li><%= link_to "My Profile", profile_show_path %></li>
  <li><%= link_to "Logout", logout_path %></li>
</ul>